In [86]:
import pandas as pd
df = pd.read_csv("../FoodBalanceSheets_E_All_Data.csv")
subset = df.copy()

In [87]:
import numpy as np

y2010 = subset[["Area Code", "Area Code (M49)", "Area", "Item Code", "Item Code (CPC)", "Item", "Element Code", "Element", "Unit", "Y2010"]]
y2010 = y2010.assign(Year = "2010")
y2011 = subset[["Area Code", "Area Code (M49)", "Area", "Item Code", "Item Code (CPC)", "Item", "Element Code", "Element", "Unit", "Y2011"]]
y2011 = y2011.assign(Year = "2011")
y2012 = subset[["Area Code", "Area Code (M49)", "Area", "Item Code", "Item Code (CPC)", "Item", "Element Code", "Element", "Unit", "Y2012"]]
y2012 = y2012.assign(Year = "2012")
y2013 = subset[["Area Code", "Area Code (M49)", "Area", "Item Code", "Item Code (CPC)", "Item", "Element Code", "Element", "Unit", "Y2013"]]
y2013 = y2013.assign(Year = "2013")
y2014 = subset[["Area Code", "Area Code (M49)", "Area", "Item Code", "Item Code (CPC)", "Item", "Element Code", "Element", "Unit", "Y2014"]]
y2014 = y2014.assign(Year = "2014")
y2015 = subset[["Area Code", "Area Code (M49)", "Area", "Item Code", "Item Code (CPC)", "Item", "Element Code", "Element", "Unit", "Y2015"]]
y2015 = y2015.assign(Year = "2015")
y2016 = subset[["Area Code", "Area Code (M49)", "Area", "Item Code", "Item Code (CPC)", "Item", "Element Code", "Element", "Unit", "Y2016"]]
y2016 = y2016.assign(Year = "2016")
y2017 = subset[["Area Code", "Area Code (M49)", "Area", "Item Code", "Item Code (CPC)", "Item", "Element Code", "Element", "Unit", "Y2017"]]
y2017 = y2017.assign(Year = "2017")
y2018 = subset[["Area Code", "Area Code (M49)", "Area", "Item Code", "Item Code (CPC)", "Item", "Element Code", "Element", "Unit", "Y2018"]]
y2018 = y2018.assign(Year = "2018")
y2019 = subset[["Area Code", "Area Code (M49)", "Area", "Item Code", "Item Code (CPC)", "Item", "Element Code", "Element", "Unit", "Y2019"]]
y2019 = y2019.assign(Year = "2019")
y2020 = subset[["Area Code", "Area Code (M49)", "Area", "Item Code", "Item Code (CPC)", "Item", "Element Code", "Element", "Unit", "Y2020"]]
y2020 = y2020.assign(Year = "2020")

all_years = pd.DataFrame(np.vstack([y2010.values, y2011.values, y2012.values, y2013.values, y2014.values, y2015.values, y2016.values, y2017.values, y2018.values, y2019.values, y2020.values]),
                         columns=["Area Code", "Area Code (M49)", "Area", "Item Code", "Item Code (CPC)", "Item", "Element Code", "Element", "Unit", "Value", "Year"])

In [88]:
item_totals = all_years[((all_years["Item Code"] >= 2902) & (all_years["Item Code"] < 3000)) | (all_years["Item"] == "Population")]

In [89]:
agged = item_totals[(item_totals["Unit"] == "1000 tonnes") | (item_totals["Unit"] == "1000 persons")].groupby(["Area Code", "Area Code (M49)", "Area", "Item Code", "Item", "Element", "Year", "Unit"]).Value.agg("sum").reset_index()

In [90]:
agged["Area Code (M49)"] = agged["Area Code (M49)"].str[1:]

In [113]:
pops = agged[agged["Unit"] == "1000 persons"][["Area Code (M49)", "Year", "Value"]]

In [114]:
capita = agged.merge(pops, how="inner", on=["Area Code (M49)", "Year"])
capita.rename(columns={"Value_x": "Value", "Value_y": "Capita"}, inplace=True)

In [115]:
capita

,Area Code,Area Code (M49),Area,Item Code,Item,Element,Year,Unit,Value,Capita
0,1,051,Armenia,2501,Population,Domestic supply quantity,2010,1000 tonnes,0.0,2877.32
1,1,051,Armenia,2501,Population,Total Population - Both sexes,2010,1000 persons,2877.32,2877.32
2,1,051,Armenia,2905,Cereals - Excluding Beer,Domestic supply quantity,2010,1000 tonnes,782.0,2877.32
3,1,051,Armenia,2905,Cereals - Excluding Beer,Export Quantity,2010,1000 tonnes,0.0,2877.32
4,1,051,Armenia,2905,Cereals - Excluding Beer,Feed,2010,1000 tonnes,161.0,2877.32
...,...,...,...,...,...,...,...,...,...,...
488802,5817,902,Net Food Importing Developing Countries,2961,"Aquatic Products, Other",Export Quantity,2020,1000 tonnes,53.3,1640329.02
488803,5817,902,Net Food Importing Developing Countries,2961,"Aquatic Products, Other",Food,2020,1000 tonnes,0.0,1640329.02
488804,5817,902,Net Food Importing Developing Countries,2961,"Aquatic Products, Other",Import Quantity,2020,1000 tonnes,1.26,1640329.02
488805,5817,902,Net Food Importing Developing Countries,2961,"Aquatic Products, Other",Other uses (non-food),2020,1000 tonnes,149.27,1640329.02
488806,5817,902,Net Food Importing Developing Countries,2961,"Aquatic Products, Other",Production,2020,1000 tonnes,200.9,1640329.02

In [116]:
capita.to_csv("aggregated_elements.csv", index=False)