Read in the whole dataset into a pandas df

Had to convert to UTF-8 before being able to load to pandas

In [56]:
import pandas as pd
df = pd.read_csv("FoodBalanceSheets_E_All_Data.csv")

Get subset for testing

In [57]:
# subset = df[df["Area"] == "Argentina"]
subset = df.copy()

Make a row for each year instead of having a column for each year

In [58]:
import numpy as np

y2010 = subset[["Area Code", "Area Code (M49)", "Area", "Item Code", "Item Code (CPC)", "Item", "Element Code", "Element", "Unit", "Y2010"]]
y2010 = y2010.assign(Year = "2010")
y2011 = subset[["Area Code", "Area Code (M49)", "Area", "Item Code", "Item Code (CPC)", "Item", "Element Code", "Element", "Unit", "Y2011"]]
y2011 = y2011.assign(Year = "2011")
y2012 = subset[["Area Code", "Area Code (M49)", "Area", "Item Code", "Item Code (CPC)", "Item", "Element Code", "Element", "Unit", "Y2012"]]
y2012 = y2012.assign(Year = "2012")
y2013 = subset[["Area Code", "Area Code (M49)", "Area", "Item Code", "Item Code (CPC)", "Item", "Element Code", "Element", "Unit", "Y2013"]]
y2013 = y2013.assign(Year = "2013")
y2014 = subset[["Area Code", "Area Code (M49)", "Area", "Item Code", "Item Code (CPC)", "Item", "Element Code", "Element", "Unit", "Y2014"]]
y2014 = y2014.assign(Year = "2014")
y2015 = subset[["Area Code", "Area Code (M49)", "Area", "Item Code", "Item Code (CPC)", "Item", "Element Code", "Element", "Unit", "Y2015"]]
y2015 = y2015.assign(Year = "2015")
y2016 = subset[["Area Code", "Area Code (M49)", "Area", "Item Code", "Item Code (CPC)", "Item", "Element Code", "Element", "Unit", "Y2016"]]
y2016 = y2016.assign(Year = "2016")
y2017 = subset[["Area Code", "Area Code (M49)", "Area", "Item Code", "Item Code (CPC)", "Item", "Element Code", "Element", "Unit", "Y2017"]]
y2017 = y2017.assign(Year = "2017")
y2018 = subset[["Area Code", "Area Code (M49)", "Area", "Item Code", "Item Code (CPC)", "Item", "Element Code", "Element", "Unit", "Y2018"]]
y2018 = y2018.assign(Year = "2018")
y2019 = subset[["Area Code", "Area Code (M49)", "Area", "Item Code", "Item Code (CPC)", "Item", "Element Code", "Element", "Unit", "Y2019"]]
y2019 = y2019.assign(Year = "2019")
y2020 = subset[["Area Code", "Area Code (M49)", "Area", "Item Code", "Item Code (CPC)", "Item", "Element Code", "Element", "Unit", "Y2020"]]
y2020 = y2020.assign(Year = "2020")

all_years = pd.DataFrame(np.vstack([y2010.values, y2011.values, y2012.values, y2013.values, y2014.values, y2015.values, y2016.values, y2017.values, y2018.values, y2019.values, y2020.values]),
                         columns=["Area Code", "Area Code (M49)", "Area", "Item Code", "Item Code (CPC)", "Item", "Element Code", "Element", "Unit", "Value", "Year"])

In [59]:
all_years

,Area Code,Area Code (M49),Area,Item Code,Item Code (CPC),Item,Element Code,Element,Unit,Value,Year
0,2,'004,Afghanistan,2501,'S2501,Population,511,Total Population - Both sexes,1000 persons,29186.0,2010
1,2,'004,Afghanistan,2501,'S2501,Population,5301,Domestic supply quantity,1000 tonnes,0.0,2010
2,2,'004,Afghanistan,2901,'S2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,2170.0,2010
3,2,'004,Afghanistan,2901,'S2901,Grand Total,661,Food supply (kcal),million kcal,23112165.71,2010
4,2,'004,Afghanistan,2901,'S2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,59.23,2010
...,...,...,...,...,...,...,...,...,...,...,...
4276124,5817,'902,Net Food Importing Developing Countries,2899,'S2899,Miscellaneous,661,Food supply (kcal),million kcal,559674.9,2020
4276125,5817,'902,Net Food Importing Developing Countries,2899,'S2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.03,2020
4276126,5817,'902,Net Food Importing Developing Countries,2899,'S2899,Miscellaneous,671,Protein supply quantity (g),g,16380.73,2020
4276127,5817,'902,Net Food Importing Developing Countries,2899,'S2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.01,2020
4276128,5817,'902,Net Food Importing Developing Countries,2899,'S2899,Miscellaneous,681,Fat supply quantity (g),g,6825.3,2020

Filter for Item Codes that indicate group totals

In [60]:
item_totals = all_years[(all_years["Item Code"] >= 2902) & (all_years["Item Code"] < 3000)]

Check the possible elements related to food production and usage

In [61]:
item_totals[item_totals["Unit"] == "1000 tonnes"].Element.unique()

array(['Production', 'Import Quantity', 'Stock Variation',
       'Export Quantity', 'Domestic supply quantity', 'Feed', 'Seed',
       'Losses', 'Processing', 'Other uses (non-food)', 'Residuals',
       'Food', 'Tourist consumption'], dtype=object)

In [62]:
item_totals[(item_totals["Unit"] == "1000 tonnes") & (item_totals["Year"] == "2010")].groupby("Element").Value.agg("sum")

Element
Domestic supply quantity    45147861.08
Export Quantity              5117039.74
Feed                         5181596.24
Food                        22632318.12
Import Quantity              5033187.67
Losses                        2323457.0
Other uses (non-food)         3234316.4
Processing                   10940173.0
Production                  44900626.62
Residuals                      119022.0
Seed                          711464.51
Stock Variation              -331141.52
Tourist consumption             19382.0
Name: Value, dtype: object

From the FOA sidebar: 

The total quantity of foodstuffs produced in a country (**Production**) added to the total quantity imported (**Import Quantity**) and adjusted to any change in stocks (**Stock Variation**) that may have occurred since the beginning of the reference period gives the supply available during that period. 

On the utilization side a distinction is made between the quantities exported (**Export Quantity**), fed to livestock (**Feed**), used for seed (**Seed**), put to manufacture for food use (**Processing**) and non-food uses (**Other uses (non-food)**), losses during storage and transportation (**Losses**), and food supplies available for human consumption.

More details on definitions: https://www.fao.org/3/x9892e/X9892e02.htm#TopOfPage

Production + imports - exports + changes in stocks (decrease or increase) = supply for domestic utilization.

In [72]:
tonnes = item_totals[item_totals["Unit"] == "1000 tonnes"]

# get supply/demand totals for each area by year
supply_consumption = pd.pivot_table(tonnes, index=["Area", "Year"], columns=["Element"], values=["Value"], aggfunc="sum")

In [73]:
supply_consumption.columns = supply_consumption.columns.droplevel()

In [77]:
supply_consumption.reset_index().to_csv("consumption.csv", index=False)
supply_consumption

Element          Domestic supply quantity Export Quantity    Feed      Food
Area        Year
Afghanistan 2010                 13166.26           360.0   876.0  10073.26  \
            2011                  12995.0           277.0   773.0   10235.0
            2012                 13849.78           198.0   839.0  10718.78
            2013                 14540.56           280.0   979.0  11232.56
            2014                 15936.36           410.0   788.0  12457.36
...                                   ...             ...     ...       ...
Zimbabwe    2016                  9070.53          234.18  196.37   4874.16
            2017                  8869.82          209.85  273.66   4812.17
            2018                  9330.31          209.94   241.4   4803.91
            2019                  8515.83          286.53  137.36   4371.07
            2020                  9169.83          310.53  280.36   4637.07

Element          Import Quantity  Losses Other uses (non-food) Processing
Area        Year
Afghanistan 2010         2737.01  1159.0                  26.0      617.0  \
            2011          3374.0   939.0                  14.0      619.0
            2012          2953.0  1211.0                  19.0      654.0
            2013          3222.0  1245.0                  19.0      672.0
            2014          3669.0  1343.0                  27.0      909.0
...                          ...     ...                   ...        ...
Zimbabwe    2016         1748.91   361.0                  17.0     3864.0
            2017          996.87   340.0                  17.0     3456.0
            2018          781.96   366.0                  20.0     3937.0
            2019          478.13   302.0                  20.0     3547.0
            2020         1807.13   396.0                  24.0     3770.0

Element          Production Residuals   Seed Stock Variation
Area        Year
Afghanistan 2010   11015.25      -7.0  422.0           229.0  \
            2011     9462.0       0.0  417.0          -437.0
            2012   11409.78      -3.0  415.0           311.0
            2013   11552.56     -26.0  425.0           -51.0
            2014   12934.36     -63.0  476.0           257.0
...                     ...       ...    ...             ...
Zimbabwe    2016     7611.8    -301.0   58.0            56.0
            2017     8288.8     -97.0   68.0           208.0
            2018     8919.3    -113.0   73.0           164.0
            2019    7472.23     102.0   35.0          -850.0
            2020    8718.23     -17.0   75.0          1046.0

Element          Tourist consumption
Area        Year
Afghanistan 2010                 NaN
            2011                 NaN
            2012                 NaN
            2013                 NaN
            2014                 NaN
...                              ...
Zimbabwe    2016                 NaN
            2017                 NaN
            2018                 NaN
            2019                 NaN
            2020                 NaN

[2431 rows x 13 columns]

In [75]:
supply_consumption["Production"] + supply_consumption["Import Quantity"] - supply_consumption["Export Quantity"] + supply_consumption["Stock Variation"]

Area         Year
Afghanistan  2010    13621.26
             2011     12122.0
             2012    14475.78
             2013    14443.56
             2014    16450.36
                       ...
Zimbabwe     2016     9182.53
             2017     9283.82
             2018     9655.32
             2019     6813.83
             2020    11260.83
Length: 2431, dtype: object